* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Potta One', cursive;
}

body {
  background-color: rgb(173, 216, 230);
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.table {
  position: relative;
  width: 70%;
  margin: 15px auto;
  text-align: center;
}

h1 {
  color: rgb(255,255,255);
}

footer {
  text-align: center;
}

.clm {
  width: 100%;
}

div.row:after {
  content: "";
  clear: both;
  display: table;
}

.row {
  margin-bottom: 1em;
}

/* Card */
[class^="card"] {
  height: 180px;
  width: 150px;
  border-radius: 10px;
  background-image: url('../img/pattern.png');
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: inline-block;
  margin: 0 1em;
}

.card-6 {
  background-image: url('../img/air-baloon.png');
  background-size: 140px 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255,255,255);
}
/* Card */

.baloon {
  color: rgb(230, 25, 134);
  position: absolute;
  bottom: 0;
  left: 33px;
}
